<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastrar Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Telefone" placeholder="Insira o telefone" [(ngModel)]="telefone" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" placeholder="Insira o Email" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-select label="Sexo" placeholder="Selecione o Sexo" [(ngModel)]="sexo">
        <ion-select-option value="MASCULINO">Masculino</ion-select-option>
        <ion-select-option value="FEMININO">Feminino</ion-select-option>
        <ion-select-option value="NAODECLARAR">Nao Declarar</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button expand="block" (click)="cadastrar()">Enviar</ion-button>
  </ion-list> 
</ion-content>
