<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let contato of lista_contatos">
    <ion-item>
      <ion-label>{{contato.nome}}</ion-label>
      <ion-label>{{contato.telefone}}</ion-label>
      <ion-label>{{contato.email}}</ion-label>
      <ion-label>{{contato.sexo}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click) = irParaCadastrar()>
    <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button> 
  </ion-fab>
</ion-content>